{% extends 'base.html' %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/earlyaccess/hanna.css');
    #navbarNav
    {
      font-family: 'Hanna'; sans-serif;
    }
    #logo
    {
      font-family: 'Hanna'; sans-serif;
    }
</style>
<div id="bg">
    <div style="text-align: center", class='container my-3' id="font" >
        <br>
        <div>{{ date }}</div>
        <br>
        <div style="text-align: center">
            {{ icon|safe }}
            <i class="" style='font-size:72px'></i>
        </div>
        <br>
        <div id="logo">
            <h5>지금</h5>
            <h3>서울은</h3>
            <h1 style='font-size:80px'> {{ tmp }} ℃</h1>
            <h4>최저 {{ tmn }} ℃ | 최고 {{ tmx }} ℃</h4>
        </div>
        <h4>{{sky_status}}</h4>
        <p><em>마지막 업데이트 {{last_update_time}} </em></p>
    </>    
    <div style="text-align: center" class='container my-3'>
        <form action={% url 'tempest:record_form' %} >
            <br>
            <br>
            <button id = "font" type="submit" class="btn btn-outline-info btn-lg">옷장열기</button>
        </form>
    </div>
</div>
{% endblock %}