{% extends 'base.html' %}

{% block content %}
<head>
    <style>
        
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <div class="text-center my-3"><h2><b>오늘 당신의 옷장</b></h2></div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row" >
            <!--<div class="container-fluid my-2 h-100 d-flex justify-content-center">-->
                <!-- 아우터 -->
                <div class="col-md-3" style="margin-bottom:2%;" >
                    {% for k, record in outer_records.items %}  <!-- 투명도는 style의 rgba 속성 마지막 a('alpha') -->
                    <div class="card custom-control image-checkbox custom-checkbox" style="margin-bottom:3%; background-color: rgba(245, 245, 245, 0.5);">
                        <div class="card-header">
                            {{record.cat}} 
                        </div>
                        <label class="label">
                            <img src="{{ record.img_path }}" alt="#" class="img-fluid">
                            <div class="card-body"><p class="card-text"><h5>{{record.name}}</h5></p></div>
                        </label>
                    </div>
                    {% endfor %}
                </div>
                
                <!-- 상의 -->
                <div class="col-md-3" style="margin-bottom:2%;">
                    {% for k, record in top_records.items %}
                    <div class="card custom-control image-checkbox custom-checkbox", style="margin-bottom:3%; background-color: rgba(245, 245, 245, 0.5);">
                        <div class="card-header">
                            {{record.cat}} 
                        </div>
                        <label class="label">
                            <img src="{{ record.img_path }}" alt="#" class="img-fluid">
                            <div class="card-body"><p class="card-text"><h5>{{record.name}}</h5></p></div>
                        </label>
                    </div>
                    {% endfor %}
                </div>

                <!-- 하의 -->
                <div class="col-md-3" style="margin-bottom:2%;">
                    {% for k, record in bottom_records.items %}
                    <div class="card custom-control image-checkbox custom-checkbox", style="margin-bottom:3%; background-color: rgba(245, 245, 245, 0.5);">
                        <div class="card-header">
                            {{record.cat}} 
                        </div>
                        <label class="label">
                            <img src="{{ record.img_path }}" alt="#" class="img-fluid">
                            <div class="card-body"><p class="card-text"><h5>{{record.name}}</h5></p></div>
                        </label>
                    </div>
                    {% endfor %}
                </div>

                <!-- etc -->
                <div class="col-md-3" style="margin-bottom:2%;">
                    {% for k, record in etc_records.items %}
                    <div class="card custom-control image-checkbox custom-checkbox", style="margin-bottom:3%; background-color: rgba(245, 245, 245, 0.5);">
                        <div class="card-header">
                            {{record.cat}} 
                        </div>
                        <label class="label">
                            <img src="{{ record.img_path }}" alt="#" class="img-fluid">
                            <div class="card-body"><p class="card-text"><h5>{{record.name}}</h5></p></div>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            <!--</div>-->
        </div>
    </div>
<!-- 끝 -->
</body>
{% endblock %}