{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <style>
        <!-- hover -->
           .hover11 figure img {
               opacity: 1;
               -webkit-transition: .3s ease-in-out;
               transition: .3s ease-in-out;
             }
             .hover11 figure:hover img {
               opacity: .5;
             }
    </style>
</head>
<div class="container my-3">
    <div class="row my-3">
        <img src="{%static 'tempest/images/products.png' %}" width=48px, height=48px;>
        <div class="col-4">
            <h1 style='font-weight: bold'>옷 선택 하기</h1>
        </div>
    </div>
    <form action="{% url 'tempest:record_post' %}" method="post" class="post-form" >
        {% csrf_token %}
        <!-- 내용 시작~ -->
        
        <!-- 아우터~ -->
        <h4 style="text-align:center; margin-bottom:2%;"><b>아우터</b></h4>
        <div class="row" style="justify-content: ; flex-direction: row;">
            {% for k, v in outer.items %}
            <div class="col-md-4" style="margin-bottom:2%;">
                <div class="card custom-control custom-checkbox image-checkbox" style="margin-bottom:3%; background-color: rgba(245, 245, 245, 0.5);">
                    <input type="checkbox" class="custom-control-input" id="outer_{{ forloop.counter0 }}" 
                        name="outer_{{ forloop.counter0 }}" value="{{ k }}">
                    <label class="custom-control-label" for="outer_{{ forloop.counter0 }}">
                        <img src={{ v.img_path }} alt="#" class="img-fluid">
                        <div class='card-body'><p class='card-text' style='text-align:center'><b>{{ k }}</b></p></div>
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>
        <br><br>
        

        <!-- 상의~ -->
        {% if error.top %}
        <div class="alert alert-danger">상의를 하나 이상 선택하세요</div>
        {% endif %}
        <h4 style="text-align:center; margin-bottom:2%;"><b>상의</b></h4>
        <div class="row" style="justify-content: ; flex-direction: row;">
            {% for k, v in top.items %}
            <div class="col-md-4" style="margin-bottom:2%;">
                <div class="card custom-control custom-checkbox image-checkbox" style="margin-bottom:3%; background-color: rgba(245, 245, 245, 0.5);">
                    <input type="checkbox" class="custom-control-input" id="top_{{ forloop.counter0 }}" 
                        name="top_{{ forloop.counter0 }}" value="{{ k }}">
                    <label class="custom-control-label" for="top_{{ forloop.counter0 }}">
                        <img src="{{ v.img_path }}" alt="#" class="img-fluid">
                        <div class='card-body'><p class='card-text' style='text-align:center'><b>{{ k }}</b></p></div>
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>

        
        <!-- 하의~ -->
        {% if error.bottom %}
        <div class="alert alert-danger">하의를 하나 이상 선택하세요</div>
        {% endif %}
        <h4 style="text-align:center; margin-bottom:2%;"><b>하의</b></h4>
        <div class="row" style="justify-content: ; flex-direction: row;">
            {% for k, v in bottom.items %}
            <div class="col-md-4" style="margin-bottom:2%;">
                <div class="card custom-control custom-checkbox image-checkbox" style="margin-bottom:3%; background-color: rgba(245, 245, 245, 0.5);">
                    <input type="checkbox" class="custom-control-input" id="bottom_{{ forloop.counter0 }}" 
                        name="bottom_{{ forloop.counter0 }}" value="{{ k }}">
                    <label class="custom-control-label" for="bottom_{{ forloop.counter0 }}">
                        <img src="{{ v.img_path }}" alt="#" class="img-fluid">
                        <div class='card-body'><p class='card-text' style='text-align:center'><b>{{ k }}</b></p></div>
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- 액세서리~ -->
        <h4 style="text-align:center; margin-bottom:2%;"><b>액세서리</b></h4>
        <div class="row" style="justify-content: ; flex-direction: row;">
            {% for k, v in etc.items %}
            <div class="col-md-4" style="margin-bottom:2%;">
                <div class="card custom-control custom-checkbox image-checkbox" style="margin-bottom:3%; background-color: rgba(245, 245, 245, 0.5);">
                    <input type="checkbox" class="custom-control-input" id="etc_{{ forloop.counter0 }}" 
                        name="etc_{{ forloop.counter0 }}" value="{{ k }}">
                    <label class="custom-control-label" for="etc_{{ forloop.counter0 }}">
                        <img src="{{ v.img_path }}" alt="#" class="img-fluid">
                        <div class='card-body'><p class='card-text' style='text-align:center'><b>{{ k }}</b></p></div>
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- 내용 끝~ -->
        <div style='display: flex; justify-content: center; margin-top:5%;'>
            <button type="submit" class="btn btn-primary" >선택완료</button>
        </div>
        {% include "form_errors.html" %}
    </form>
</div>
{% endblock %}